.galery {
  display: flex;
  flex-direction: column;
}
.trio-images {
  display: flex;
  flex-direction: row;
}
.img-trio {
  height: 61px;
}
.container-galery-product {
  display: flex;
}
.container-products {
  display: flex;
  flex-direction: row;
}
.img-controller {
  height: 247px;
}
.img-printer {
  height: 140px;
}
