.galery {
  display: flex;
  flex-direction: column;
}
.trio-images {
  display: flex;
  flex-direction: row;
}
.img-trio {
  height: 61px;
}
.container-galery-product {
  display: flex;
}
.container-products {
  display: flex;
  flex-direction: row;
}
.img-controller {
  height: 247px;
}
.img-printer {
  height: 140px;
}
.container-support {
  display: flex;
  flex-direction: row;
}
footer {
  display: flex;
  flex-direction: column;
}
.conteiner-footer-legal {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
