@import "common/all";

body {
  font-family: "Open Sans", sans-serif;
}

.logo {
  font-size: 50px;
  font-weight: 800;
  color: $color-principal;

  @include for-phone-only {
    font-size: 25px;
  }
}

.search {
  input,
  button {
    border-radius: 20px;
  }
  input {
    padding-left: 25px;
    box-shadow: -1px 2px 5px 0px #ccc;
    border: 1px solid #9c9c9c;
  }
  button {
    background-color: white;
    border-left-color: #ccc;
    box-shadow: 1px 2px 5px 0px #ccc;
    padding: 5px 13px 0px 9px;
    ion-icon {
      font-size: 23px;
    }
  }
}
.favorite {
  ion-icon {
    font-size: 28px;
  }
}
.user {
  .person {
    font-size: 26px;
  }
  span {
    font-size: 14px;
  }
  .chevro {
    font-size: 14px;
  }
}
.cart {
  span {
    background-color: $color-principal;
    color: $color-alternative;
    padding: 1px 6px;
    font-size: 13px;
  }
  ion-icon {
    font-size: 31px;
  }
}
.cart {
  button {
    position: relative;
    .cart-badge {
      border-radius: 50%;
      position: relative;
      bottom: 17px;
    }
    ion-icon {
      position: absolute;
      left: 3px;
      top: 7px;
    }
  }
}
header {
  background-color: $color-alternative;

  .menu {
    background-color: $color-principal;

    ul > li {
      padding: 2px 10px;

      &.active {
        background-color: $color-principal-shadow;
        text-transform: uppercase;
        padding-left: 25px;
        padding-right: 25px;
      }
      & > a {
        color: $color-text-light;
        font-size: 16px;
        font-weight: 300;
      }
    }
  }
}

article {
  h1 {
    font-size: 27px;
    text-transform: uppercase;
    padding-top: 40px;
  }
  .container-imgs {
    padding: 40px 30px 20px 60px;
    .container-img {
      border: 1px solid;
    }
  }
  .product-form {
    p {
      font-size: 15px;
      color: $color-principal;
      margin: auto;
    }
    .prices {
      .price {
        font-size: 18px;
        padding-right: 3px;
      }

      .price-current {
        font-size: 31px;
        color: $color-principal;
        padding-right: 6px;
        font-weight: bold;
      }
      .price-old {
        text-decoration: line-through;
      }
      .price-desc {
        color: $color-desc;
      }
    }
    .text-cuotas {
      font-size: 14px;
      padding-right: 18px;
      & > .text-bold {
        font-weight: bold;
      }
      & ~ a {
        font-size: 14px;
      }
      & span {
        font-size: 15px;
      }
    }
  }
}
.text-link {
  text-decoration: underline;
}
.product-form {
  .container-button-icons {
    ion-icon {
      font-size: 29px;
    }
  }
}
