$color-cherry: #b5190d;
$color-cherry-shadow: #9c0f08;
$color-gray-light: #eeeeee;
$color-green: #249401;
$color-white: #ffffff;
$color-yellow: #fdac39;
$color-azul: #005a96;
$color-gray-dark: #f2f2f2;
$color-gray: #707070;
$color-gray-footer: #343434;
$color-gray-footer-light: #ababab;
$color-black: #000;
$font-text: "Open Sans", sans-serif;
$size-logo: 50px;
$size-title-main: 27px;
$size-title-submain: 25px;
$size-description-price: 30px;
$size-description-principal: 15px;
$size-description-secondary: 14px;
$size-description-alternativo:12px;
$size-description-desc: 18px;
$size-description-call: 20px;
$size-tab-title: 23px;
$size-tab-title-mobile: 18px;
